[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aniso8601 = "==4.0.1"
arrow = "==0.13.1"
attrs = "==19.1.0"
basicauth = "==0.4.1"
binaryornot = "==0.4.4"
bleach = "==3.1.0"
certifi = "==2019.3.9"
chardet = "==3.0.4"
click = "==7.0"
cookiecutter = "==1.6.0"
dbhelpers = "==0.1.0.4"
docutils = "==0.14"
future = "==0.17.1"
gitdb2 = "==2.0.5"
httplib2 = "==0.12.1"
idna = "==2.8"
immaurc1 = "==0.0.1"
itsdangerous = "==1.1.0"
jinja2-time = "==0.2.0"
jsonschema = "==3.0.1"
mysql-connector = "==2.1.6"
nf-core = "==1.6"
pipdeptree = "==0.13.2"
pkginfo = "==1.5.0.1"
poyo = "==0.4.2"
pyrsistent = "==0.14.11"
python-dateutil = "==2.8.0"
pytz = "==2018.9"
requests = "==2.21.0"
requests-cache = "==0.5.0"
requests-toolbelt = "==0.9.1"
six = "==1.12.0"
smmap2 = "==2.0.5"
tabulate = "==0.8.3"
tqdm = "==4.31.1"
twine = "==1.13.0"
urllib3 = "==1.24.1"
virtualenv = "==16.2.0"
virtualenvwrapper-win = "==1.2.5"
webencodings = "==0.5.1"
whichcraft = "==0.5.2"
Flask = "==1.0.2"
Flask-RESTful = "==0.3.7"
GitPython = "==2.1.11"
Jinja2 = "==2.10"
MarkupSafe = "==1.1.0"
Pygments = "==2.3.1"
PyMySQL = "==0.9.3"
PyYAML = "==5.1"
readme_renderer = "==24.0"
Werkzeug = "==0.14.1"

[requires]
python_version = "3.7"
